{erl_opts, [{src_dirs, [src, intercepts, perf]},
           warnings_as_errors, {parse_transform, lager_transform}]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
        {getopt, ".*", {git, "git://github.com/jcomellas/getopt", {tag, "v0.4"}}}
       ]}.

{escript_incl_apps, [lager, getopt]}.
{escript_emu_args, "%%! -escript main partition_escript +K true +P 10000 -env ERL_MAX_PORTS 10000\n"}.
